.accessibility {
    color: var(--md-default-fg-color--light);
    margin-left: auto;
    margin-right: auto;
    width: 61rem;
    max-width: 100%;
    display: flex;
    padding: 5px 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.accessibility div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.accessibility .text-size button,
.accessibility .contrast button {
    padding-right: 0.6rem;
}

.accessibility .contrast button {
    font-size: 0.5rem;
}

.accessibility .text-size span, .accessibility .contrast span {
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--md-default-fg-color);
    padding-right: 0.6rem;
}

.accessibility * button {
    cursor: pointer;
}

.accessibility .text-size .normal {
    font-size: 0.6rem;
    font-weight: normal;
}

.accessibility .text-size .big {
    font-size: 0.8rem;
    font-weight: bold;
}

.accessibility .text-size .bigger {
    font-size: 1rem;
    font-weight: bolder;
}

.accessibility .contrast button {
    height: 1rem;
    width: 1rem;
}

.accessibility .contrast button svg {
    fill: #ffffff;
}

.md-sidebar__scrollwrap {
    min-height: 500px !important;
}

.md-consent__inner {
    position: relative;
    bottom: unset;
    animation: unset;
}

html.theme-greyscale {
    filter: saturate(2.5) grayscale(100%);
}

html.theme-yellow-on-black {
    filter: invert(1) sepia(1) saturate(2.5) hue-rotate(8deg);
}

html.theme-yellow-on-black [data-md-toggle=search]:checked ~ .md-header .md-search__overlay {
    background-color: rgba(255, 255, 255, 0.8);
}

html.theme-yellow-on-black [data-md-toggle=search]:checked ~ .md-header .md-search__output {
    box-shadow: var(--md-shadow-z1);
    opacity: 1;
}

html.theme-yellow-on-black .focus-visible,
html.theme-yellow-on-black .md-search-result__link:focus,
html.theme-yellow-on-black .md-search-result__link:hover,
html.theme-yellow-on-black .md-search-result__more:focus,
html.theme-yellow-on-black .md-search-result__more:hover,
html.theme-yellow-on-black .focus-visible *,
html.theme-yellow-on-black .md-search-result__link:focus *,
html.theme-yellow-on-black .md-search-result__link:hover *,
html.theme-yellow-on-black .md-search-result__more:focus *,
html.theme-yellow-on-black .md-search-result__more:hover *,
html.theme-yellow-on-black .md-search-result__more > summary:focus > div,
html.theme-yellow-on-black .md-search-result__more > summary:hover > div {
    background-color: #0027ffc7;
    color: white;
}
