.accessibility {
    color: var(--md-default-fg-color--light);
    margin-left: auto;
    margin-right: auto;
    width: 61rem;
    max-width: 100%;
    display: flex;
    padding: 5px 20px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.accessibility div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.accessibility .text-size button,
.accessibility .contrast button {
    padding-right: 0.6rem;
}

.accessibility .contrast button {
    font-size: 0.5rem;
}

.accessibility .text-size span, .accessibility .contrast span {
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--md-default-fg-color);
    padding-right: 0.6rem;
}

.accessibility * button {
    cursor: pointer;
}

.accessibility .text-size .normal {
    font-size: 0.6rem;
    font-weight: normal;
}

.accessibility .text-size .big {
    font-size: 0.8rem;
    font-weight: bold;
}

.accessibility .text-size .bigger {
    font-size: 1rem;
    font-weight: bolder;
}

.accessibility .contrast button {
    height: 1rem;
    width: 1rem;
}

.accessibility .contrast button svg {
    fill: #ffffff;
}

.md-sidebar__scrollwrap {
    min-height: 500px !important;
}

:root.theme-greyscale {
    filter: grayscale(100%);
}

html.theme-yellow-on-black img, html.theme-yellow-on-black .admonition-title::before {
    filter: grayscale(78%) invert(0.5) sepia(1) hue-rotate(21deg) brightness(1.4) saturate(4.5);
}

html.theme-yellow-on-black svg {
    filter: grayscale(1) invert(1) sepia(1) hue-rotate(12deg)
}

html.theme-yellow-on-black ::-webkit-input-placeholder {
    color: var(--md-default-fg-color) !important;
}

html.theme-yellow-on-black ::-moz-placeholder {
    color: var(--md-default-fg-color) !important;
}

html.theme-yellow-on-black ::-ms-placeholder {
    color: var(--md-default-fg-color) !important;
}

html.theme-yellow-on-black ::placeholder {
    color: var(--md-default-fg-color) !important;
}

html.theme-yellow-on-black .md-icon > svg {
    filter: none;
}

html.theme-yellow-on-black .slide-deck .control {
    filter: invert(1);
}

html.theme-yellow-on-black .slide-deck .control.position {
    filter: invert(0);
    background-color: rgba(0, 0, 0, 0.6);
}

html.theme-yellow-on-black .admonition {
    border-color: var(--md-default-fg-color--light) !important;
}

html.theme-yellow-on-black button {
    color: var(--md-accent-fg-color);
}

html.theme-yellow-on-black .md-button {
    color: var(--md-accent-fg-color);
}

html.theme-yellow-on-black .md-button:hover, html.theme-yellow-on-black .md-button.md-button--primary:hover {
    color: var(--md-primary-fg-color);
    background-color: var(--md-default-fg-color);
    border-color: var(--md-default-fg-color);
    filter: brightness(1.2);
    font-weight: bolder;
}

html.theme-yellow-on-black .md-button.md-button--primary {
    color: var(--md-primary-fg-color);
}

html.theme-yellow-on-black .md-button.md-button--primary {
    background-color: var(--md-default-fg-color);
    border-color: var(--md-default-fg-color);
}

html.theme-yellow-on-black .md-button.md-button--disabled {
    border-color: var(--md-default-fg-color--lighter);
    color: var(--md-default-fg-color--lighter) !important;
}

:root.theme-yellow-on-black {
    --md-primary-fg-color: #000000;
    --md-primary-fg-color--light: #ffff00;
    --md-primary-fg-color--dark: #ffff00;
    --md-accent-fg-color: #ffff00;
    --md-default-fg-color: #ffff00;
    --md-default-fg-color--light: #ffff008a;
    --md-default-fg-color--lighter: #ffff0052;
    --md-default-fg-color--lightest: #ffff0012;
    --md-primary-bg-color: #ffff00;
    --md-default-bg-color: #000;
    --md-default-bg-color--light: #000000b3;
    --md-default-bg-color--lighter: #0000004d;
    --md-default-bg-color--lightest: #0000001f;
    --md-code-fg-color: #ffff00;
    --md-code-bg-color: #282828;
    --md-code-hl-color: #ffff0080;
    --md-code-hl-number-color: #d52a2a;
    --md-code-hl-special-color: #db1457;
    --md-code-hl-function-color: #a846b9;
    --md-code-hl-constant-color: #6e59d9;
    --md-code-hl-keyword-color: #3f6ec6;
    --md-code-hl-string-color: #1c7d4d;
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
    --md-typeset-color: #ff0;
    --md-typeset-a-color: #ff0;
    --md-typeset-mark-color: #ffff0080;
    --md-typeset-del-color: #f5503d26;
    --md-typeset-ins-color: #0bd57026;
    --md-typeset-kbd-color: #fafafa;
    --md-typeset-kbd-accent-color: #fff;
    --md-typeset-kbd-border-color: #b8b8b8;
    --md-typeset-table-color: #0000001f;
    --md-typeset-table-color--light: rgba(0, 0, 0, .035);
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-admonition-bg-color: var(--md-default-bg-color);
    --md-warning-fg-color: #000000de;
    --md-warning-bg-color: #ff9;
    --md-footer-fg-color: #ff0;
    --md-footer-fg-color--light: #ffff00b3;
    --md-footer-fg-color--lighter: #ffff0073;
    --md-footer-bg-color: #000000de;
    --md-footer-bg-color--dark: #00000052;
    --md-shadow-z1: 0 0.2rem 0.5rem #0000000d, 0 0 0.05rem #0000001a;
    --md-shadow-z2: 0 0.2rem 0.5rem #0000001a, 0 0 0.05rem #00000040;
    --md-shadow-z3: 0 0.2rem 0.5rem #0003, 0 0 0.05rem #00000059;
}