/** Theme configuration -- Edit these values **/
:root {
    --theme-main-colour-hue: 207;
    --theme-main-colour-saturation: 100%;
    --theme-main-colour-lightness: 33%;
    --theme-main-colour-alpha: 1.0;
}

/** Theme setup **/
:root {
    --md-primary-fg-color: hsla(
            var(--theme-main-colour-hue),
            var(--theme-main-colour-saturation),
            var(--theme-main-colour-lightness),
            var(--theme-main-colour-alpha)
    );
    --md-primary-fg-color--light: hsla(
            var(--theme-main-colour-hue),
            var(--theme-main-colour-saturation),
            calc(var(--theme-main-colour-lightness) / 0.9),
            var(--theme-main-colour-alpha)
    );
    --md-primary-fg-color--dark: hsla(
            var(--theme-main-colour-hue),
            var(--theme-main-colour-saturation),
            calc(var(--theme-main-colour-lightness) * 0.9),
            var(--theme-main-colour-alpha)
    );
    --md-accent-fg-color: hsla(
            var(--theme-main-colour-hue),
            var(--theme-main-colour-saturation),
            calc(var(--theme-main-colour-lightness) * 0.9),
            var(--theme-main-colour-alpha)
    );
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 3rem;
    width: 3rem;
}

a {
    text-decoration: underline;
}

blockquote {
    padding: 10px 20px 0;
    position: relative;
    border-left-color: rgba(0, 0, 0, 0) !important;
}

blockquote p {
    font-style: italic;
    font-size: 35px;
    padding-left: 20px;
    margin-bottom: 0;
}

blockquote:before {
    position: absolute;
    top: -45px;
    left: -15px;
    content: "“";
    font-size: 200px;
    color: rgba(0, 0, 0, 0.1);
}

.mermaid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.md-button--disabled {
    pointer-events: none;
    cursor: default;
    color: #6d6d6d !important;
}

.md-tabs__link {
    font-weight: 500;
    color: var(--md-primary-bg-color) !important;
    opacity: 1;
}
.md-tabs__link.md-tabs__link--active {
    font-weight: 800;
    color: var(--md-primary-bg-color) !important;
    opacity: 1;
}

.md-header {
    position: inherit !important;
}

.md-sidebar {
    top: 0 !important;
}
